<header class="fixed top-0 z-20 flex items-center justify-center w-full mx-auto mt-2">
  <nav class="flex px-3 text-sm font-medium rounded-full text-gray-200 justify-center items-center bg-gray-800">
    <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500" href="#experiencia">
      Experiencia
    </a>
    <a class="relative block px-2 py-2 transition hover:text-blue-500" href="#proyectos">
      Proyectos
    </a>
    <a class="relative block px-2 py-2 transition hover:text-blue-500" href="#tecnologias">
      Tecnologías
    </a>
    <a class="relative block px-2 py-2 transition hover:text-blue-500 text-blue-500" href="#sobre-mi">
      Sobre mí
    </a>
    <a class="relative block px-2 py-2 transition hover:text-blue-500 " href="mailto:alangonzalezmorales2003@gmail.com">
      Contacto
    </a>
  </nav>
</header>
