<footer class="mx-auto container flex justify-center px-3 py-5">

  <div class="lg:max-w-4xl md:max-w-2xl rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4">
    <span class="text-sm text-zinc-200/90">
      © 2025 <a href="#" class="transition hover:text-blue-500">Alan González</a>. Casi todos los derechos reservados
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm  sm:mt-0">
      <li>
        <a href="/#sobre-mi" class="transition hover:text-blue-500 me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a href="mailto:alangonzalezmorales2003@gmail.com" class="transition hover:text-blue-500">Contacto</a>
      </li>
    </ul>
  </div>
</footer>

