<!-- <section id="sobre-mi" class="section scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
        <svg class="size-8" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
          <path d="M15 19l2 2l4 -4"></path>
        </svg>
        Sobre mí
      </h2>

      <article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
        <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
          <p>
            Me llamo Alan González y soy desarrollador Full Stack. Comencé en la programación hace varios años y actualmente estoy <strong>especializándome en tecnologías modernas como Angular y Node.js</strong>.
          </p>
          <p>
            Algunos de mis logros incluyen <strong>el desarrollo de aplicaciones web escalables y el trabajo con equipos multidisciplinarios</strong>. Me apasiona crear soluciones innovadoras que impacten positivamente a los usuarios.
          </p>
          <p>
            Como profesional, <strong>me enfoco en escribir código limpio y mantenible</strong>. Mi objetivo es contribuir al crecimiento de la industria tecnológica y seguir aprendiendo nuevas tecnologías.
          </p>
        </div>
        <img width="200" height="200" src="/assets/images/alan-foto.webp" alt="Alan González" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" style="object-position: 50% 50%">
      </article>
    </section> -->
