<section
  id="sobre-mi"
  class="mb-4 section scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <h2
    class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
  >
    <svg
      class="size-8"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
      <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
      <path d="M15 19l2 2l4 -4"></path>
    </svg>
    Sobre mí
  </h2>


  <article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
  >
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        Soy <strong>Alan González</strong>, tengo 22 años y soy
        <strong>Desarrollador Web</strong>. A mi corta edad he vivido en
        <strong>3 continentes distintos</strong> esto me ha permitido conocer
        distintas culturas y formas de pensar, lo que me ha dado adaptabilidad,
        apertura y una visión amplia que aplico en cada proyecto de desarrollo.
      </p>

      <p>
        Formé parte de un <strong>equipo de rescate</strong>, donde
        aprendí a trabajar bajo presión, tomar decisiones rápidas y, sobre todo,
        a valorar la importancia del trabajo en equipo. Esa misma mentalidad la
        llevo al desarrollo: <strong>colaborar, mantener la calma ante los imprevistos y
        buscar soluciones</strong>.
      </p>

      <p>
        Con la programación he logrado mezclar mis dos pasiones: <strong>crear cosas</strong> y
        <strong>ayudar a los demás</strong>. Por lo que vivo motivado al crear soluciones a
        problemas por medio de <strong>aplicaciones que faciliten la vida de las personas</strong>.

      </p>
    </div>
    <img
      width="200"
      height="200"
      src="/assets/images/alangonzalez.png"
      alt="Foto Alan González"
      class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    />
  </article>
</section>
