<section
  class="section  py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl md:h-screen"
>
  <div
    class="flex flex-col-reverse md:flex-row justify-center items-center gap-8 h-full"
  >
    <!-- Texto -->
    <div class="max-w-xl flex-1">
      <div class="flex gap-4 mb-4 md:mb-8">
        <a
          href="https://www.linkedin.com/in/alan-gonzalez-morales-web-software-developer"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
        >
          <span
            class="relative inline-flex overflow-hidden rounded-full p-[1px]"
          >
            <span
              class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
            ></span>
            <div
              class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-white/80 bg-gray-800 rounded-full cursor-pointer backdrop-blur-3xl whitespace-nowrap"
            >
              Disponible para trabajar
            </div>
          </span>
        </a>
      </div>
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">
        Hola, soy Alan
      </h1>
      <p
        class="mt-6 text-xl [&>strong]:text-yellow-200 [&>strong]:font-semibold text-gray-300"
      >
        Desarrollador Full Stack.
        <strong
          >Especializado en Angular, SpringBoot y tecnologías modernas</strong
        >
        de Málaga, España. Enfocado en el desarrollo de aplicaciones web
        innovadoras y de alto impacto.
      </p>
      <nav class="flex flex-wrap gap-4 mt-8">
        <!-- Contactame -->
        <a
          href="mailto:alangonzalezmorales2003@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center gap-2 px-4 py-1 text-white bg-gray-800 border-gray-600 rounded-full focus-visible:ring-yellow-500/80 text-md transition group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black group-hover:bg-gray-100 group-hover:border-gray-300 group-hover:text-black"
        >
          Contáctame
        </a>
        <!-- Linkedin -->
        <a
          href="https://www.linkedin.com/in/alan-gonzalez-morales-web-software-developer"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center gap-2 px-4 py-1 text-white bg-gray-800 border-gray-600 rounded-full focus-visible:ring-yellow-500/80 text-md transition group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black group-hover:bg-gray-100 group-hover:border-gray-300 group-hover:text-black"
        >
          LinkedIn
        </a>
        <a
          href="assets/files/CV_AlanGonzalez.pdf"
          target="_blank"
          class="inline-flex items-center justify-center gap-2 px-4 py-1 text-white bg-gray-800 border-gray-600 rounded-full focus-visible:ring-yellow-500/80 text-md transition group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black group-hover:bg-gray-100 group-hover:border-gray-300 group-hover:text-black"
        >
          Mi CV
        </a>
      </nav>
    </div>
    <!-- Imagen grande a la derecha -->
    <!-- <div class="flex-shrink-0 self-start mx-auto">
        <img src="assets/images/foto.png" class="size-70 md:size-100" alt="Alan Gonzalez">
    </div> -->
    <div class="flex-shrink-0 self-center mx-auto md:mb-20">
      <img
        src="assets/images/alan-foto.png"
        class="size-70 md:size-90"
        alt="Alan Gonzalez"
      />
    </div>
  </div>
</section>
