<section
  id="proyectos"
  class="section pb-25 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <h2
    class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white undefined"
  >
    <i class="fa-solid fa-code"></i>
    Proyectos
  </h2>

  <!-- Caja Proyectos -->
  <section class="flex flex-col gap-y-12">

    <article
      class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
    >
      <!-- Imagen -->
      <div class="w-full md:w-1/2">
        <div
          class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
        >
          <img
            alt="Landing Country App"
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-100 md:group-hover:scale-105"
            loading="lazy"
            src="assets/images/countryapp.webp"
          />
        </div>
      </div>
      <!-- Texto y tecnologías -->
      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          CountryApp
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            <li class="badge badge-soft badge-secondary">
              <img src="assets/images/angular-logo.png" class="size-[1.3em]" />
              Angular
            </li>
            <div class="badge badge-soft badge-info">
              <img src="assets/images/tailwind-logo.svg" class="size-[1.5em]" />
              Tailwind
            </div>
            <div class="badge badge-soft badge-warning">
              <img src="assets/images/daisyui-logo.png" class="size-[1.5em]" />
              daisyUI
            </div>
          </ul>
          <div class="mt-2 text-gray-700 dark:text-gray-400">
            Buscador de países con información de cada nación, incluyendo
            capital, población, continente, subregión, bandera e icono. La
            aplicación permite filtrar y explorar fácilmente los países del
            mundo, mostrando datos actualizados y visuales atractivos.
          </div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            <a
              target="_blank"
              href="https://github.com/walan-create/CountryApp"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- GitHub SVG -->
              <svg
                class="size-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
              Code
            </a>
            <a
              target="_blank"
              href="https://walan-country-app.netlify.app"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- Preview SVG -->
              <svg
                class="size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
                ></path>
                <path
                  d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
                ></path>
              </svg>
              Preview
            </a>
          </footer>
        </div>
      </div>
    </article>

    <article
      class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
    >
      <!-- Imagen -->
      <div class="w-full md:w-1/2">
        <div
          class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
        >
          <img
            alt="Pokedex consumiendo API externa menu"
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-100 md:group-hover:scale-105"
            loading="lazy"
            src="assets/images/pokedexapp.webp"
          />
        </div>
      </div>
      <!-- Texto y tecnologías -->
      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          Pokedex
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            <li class="badge badge-soft badge-secondary">
              <img src="assets/images/angular-logo.png" class="size-[1.3em]" />
              Angular
            </li>
            <li class="badge badge-soft badge-primary">
              <img
                src="assets/images/bootstrap-logo.png"
                class="size-[1.3em]"
              />
              Bootstrap
            </li>
          </ul>
          <div class="mt-2 text-gray-700 dark:text-gray-400">
            Pokedex con buscador de Pokémon que filtra por nombre, elemento,
            shiny y legendario. Consume datos en tiempo real desde la API
            externa POKÉapi.
          </div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            <a
              target="_blank"
              href="https://github.com/walan-create/PokedexApp"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- GitHub SVG -->
              <svg
                class="size-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
              Code
            </a>
            <a
              target="_blank"
              href="https://walan-pokedex.netlify.app/"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- Preview SVG -->
              <svg
                class="size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
                ></path>
                <path
                  d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
                ></path>
              </svg>
              Preview
            </a>
          </footer>
        </div>
      </div>
    </article>

    <!-- @if (showAll()) { -->

    <article
      class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
    >
      <!-- Imagen -->
      <div class="w-full md:w-1/2">
        <div
          class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
        >
          <img
            alt="Landing Nextfilm proyecto con un equipo de becarios"
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-100 md:group-hover:scale-105"
            loading="lazy"
            src="assets/images/nextfilm.webp"
          />
        </div>
      </div>
      <!-- Texto y tecnologías -->
      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          NEXTFILM
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-wrap mb-2 gap-2 mb-2">
            <li class="badge badge-soft badge-secondary">
              <img src="assets/images/angular-logo.png" class="size-[1.3em]" />
              Angular
            </li>
            <li class="badge badge-soft text-[#5fa04e]">
              <img src="assets/images/node.svg" class="size-[1.3em]" />
              Node.js
            </li>
            <li class="badge badge-soft text-[#85e92c]">
              <img src="assets/images/swagger.png" class="size-[1.5em]" />
              Swagger
            </li>
            <li class="badge badge-soft badge-primary">
              <img
                src="assets/images/bootstrap-logo.png"
                class="size-[1.3em]"
              />
              Bootstrap
            </li>
            <li class="badge badge-soft text-[#56c5a9]">
              <img src="assets/images/karma.png" class="size-[1.5em]" />
              Karma
            </li>
            <li class="badge badge-soft text-[#b95ab0]">
              <img src="assets/images/jasmine.png" class="size-[1.5em]" />
              Jasmine
            </li>
          </ul>
          <div class="mt-2 text-gray-700 dark:text-gray-400">
            Aplicación para gestionar un videoclub con API propia, desarrollada
            junto a un equipo de becarios. Permite consultar el catálogo de
            películas y reservarlas. El dueño administra las películas y las
            reservas de los usuarios.
          </div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            <a
              target="_blank"
              href="https://github.com/walan-create/nextfilm-front"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- GitHub SVG -->
              <svg
                class="size-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
              Front Code
            </a>
            <a
              target="_blank"
              href="https://github.com/JesusChincoa/nextfilm-back"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- GitHub SVG -->
              <svg
                class="size-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
              Back Code
            </a>
            <a
              target="_blank"
              href="https://nextfilms-project.netlify.app/#/landing"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- Preview SVG -->
              <svg
                class="size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
                ></path>
                <path
                  d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
                ></path>
              </svg>
              Preview
            </a>
          </footer>
        </div>
      </div>
    </article>

    <article
      class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
    >
      <!-- Imagen -->
      <div class="w-full md:w-1/2">
        <div
          class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
        >
          <img
            alt="Buscador de Gifs consumiendo API externa"
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-100 md:group-hover:scale-105"
            loading="lazy"
            src="assets/images/gifsapp.webp"
          />
        </div>
      </div>
      <!-- Texto y tecnologías -->
      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          GifsApp
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            <li class="badge badge-soft badge-secondary">
              <img src="assets/images/angular-logo.png" class="size-[1.3em]" />
              Angular
            </li>
            <div class="badge badge-soft badge-info">
              <img src="assets/images/tailwind-logo.svg" class="size-[1.5em]" />
              Tailwind
            </div>
            <div class="badge badge-soft badge-warning">
              <img src="assets/images/daisyui-logo.png" class="size-[1.5em]" />
              daisyUI
            </div>
          </ul>
          <div class="mt-2 text-gray-700 dark:text-gray-400">
            Buscador de GIFs por nombre que obtiene resultados en tiempo real
            desde el servicio externo GiphyAPI.
          </div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            <a
              target="_blank"
              href="https://github.com/walan-create/GifsApp"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- GitHub SVG -->
              <svg
                class="size-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
              Code
            </a>
            <a
              target="_blank"
              href="https://walan-gifs-app.netlify.app"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- Preview SVG -->
              <svg
                class="size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
                ></path>
                <path
                  d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
                ></path>
              </svg>
              Preview
            </a>
          </footer>
        </div>
      </div>
    </article>

    <article
      class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
    >
      <!-- Imagen -->
      <div class="w-full md:w-1/2">
        <div
          class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
        >
          <img
            alt="Menu TesloShop"
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-100 md:group-hover:scale-105"
            loading="lazy"
            src="assets/images/tesloshop.webp"
          />
        </div>
      </div>
      <!-- Texto y tecnologías -->
      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          TesloShop
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            <li class="badge badge-soft badge-secondary">
              <img src="assets/images/angular-logo.png" class="size-[1.3em]" />
              Angular
            </li>
            <li class="badge badge-soft text-[#e0234e]">
              <img src="assets/images/nest.png" class="size-[1.5em]" />
              Nest
            </li>
            <div class="badge badge-soft badge-info">
              <img src="assets/images/tailwind-logo.svg" class="size-[1.5em]" />
              Tailwind
            </div>
            <div class="badge badge-soft badge-warning">
              <img src="assets/images/daisyui-logo.png" class="size-[1.5em]" />
              daisyUI
            </div>
          </ul>
          <div class="mt-2 text-gray-700 dark:text-gray-400">
            Aplicación para gestionar una tienda de ropa donde el administrador
            puede modificar el catálogo de productos y los usuarios pueden
            filtrar y explorar la colección disponible.
          </div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            <a
              target="_blank"
              href="https://github.com/walan-create/TesloShop"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- GitHub SVG -->
              <svg
                class="size-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
              Front Code
            </a>
            <a
              target="_blank"
              href="https://github.com/walan-create/TesloShopBack"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- GitHub SVG -->
              <svg
                class="size-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
              Back Code
            </a>
            <a
              target="_blank"
              href="https://walan-teslo-shop.netlify.app"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- Preview SVG -->
              <svg
                class="size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
                ></path>
                <path
                  d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
                ></path>
              </svg>
              Preview
            </a>
          </footer>
        </div>
      </div>
    </article>

    <article
      class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
    >
      <!-- Imagen -->
      <div class="w-full md:w-1/2">
        <div
          class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
        >
          <img
            alt="Marcadores en mapa de MapsApp"
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-100 md:group-hover:scale-105"
            loading="lazy"
            src="assets/images/mapsapp.webp"
          />
        </div>
      </div>
      <!-- Texto y tecnologías -->
      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          MapsApp
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            <li class="badge badge-soft badge-secondary">
              <img src="assets/images/angular-logo.png" class="size-[1.3em]" />
              Angular
            </li>
            <div class="badge badge-soft badge-info">
              <img src="assets/images/tailwind-logo.svg" class="size-[1.5em]" />
              Tailwind
            </div>
            <div class="badge badge-soft badge-warning">
              <img src="assets/images/daisyui-logo.png" class="size-[1.5em]" />
              daisyUI
            </div>
          </ul>
          <div class="mt-2 text-gray-700 dark:text-gray-400">
            Aplicación de navegación geográfica completa interactiva que consume
            la API de Mapbox. Navega el mapamundi por coordenadas específicas,
            agrega marcadores en cualquier ubicación.
          </div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            <a
              target="_blank"
              href="https://github.com/walan-create/MapsApp"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- GitHub SVG -->
              <svg
                class="size-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
              Code
            </a>
            <a
              target="_blank"
              href="https://walan-maps-app.netlify.app"
              role="link"
              class="inline-flex bg-gray-800 text-gray-800 items-center justify-center gap-2 px-3 py-2 transition text-white border border-gray-600 hover:bg-gray-700 hover:border-gray-900 group rounded-xl"
            >
              <!-- Preview SVG -->
              <svg
                class="size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
                ></path>
                <path
                  d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
                ></path>
              </svg>
              Preview
            </a>
          </footer>
        </div>
      </div>
    </article>
    <!-- } -->

    <!-- Botón ver más / ver menos -->
  <!-- <div class="flex justify-center mt-2">
    <button
      type="button"
      class="px-5 py-2 rounded-full bg-gray-800 text-white hover:bg-gray-700 transition  border-gray-600 "
      (click)="toggleShowAll()"
      [attr.aria-expanded]="showAll()"
    >
      {{ showAll() ? 'Ver menos' : 'Ver más' }}
    </button>
  </div> -->

  </section>
</section>
