/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@import "@fontsource-variable/onest";

body {
  font-family: 'Onest Variable', sans-serif;
}

@keyframes runner {
  0%   { top: 0;    left: 0;    transform: translate(0, -50%); }     /* esquina superior izq */
  25%  { top: 0;    left: 100%; transform: translate(-50%, -50%);}   /* esquina sup der */
  50%  { top: 100%; left: 100%; transform: translate(-50%, -50%);}   /* esquina inf der */
  75%  { top: 100%; left: 0;    transform: translate(-50%, -50%);}   /* esquina inf izq */
  100% { top: 0;    left: 0;    transform: translate(0, -50%);}      /* vuelve al inicio */
}

.animate-runner {
  position: absolute;
  animation: runner 6s linear infinite;
}

/* Para perspectiva */
.perspective {
  perspective: 1000px;
}

/* Card 3D */
.tilt-card {
  transform: perspective(1000px) rotateX(var(--rotate-x, 0deg)) rotateY(var(--rotate-y, 0deg));
  transition: transform 0.2s ease-out;
  will-change: transform; /* GPU */
}